<div class="action_items">
  <div class="class">
    <%= link_to('New Partner', new_hq_partner_path,
                class: 'btn btn-default', role: 'button') %>
  </div>
</div>
<%- if @partners.empty? %>
  No Partners found
<%- else %>
  <table>
    <thead>
      <tr>
        <th>
          Osra Num
        </th>
        <th>
          Name
        </th>
        <th>
          Status
        </th>
        <th>
          Start Date
        </th>
        <th>
          Province
        </th>
      </tr>
    </thead>
    <tbody>
      <%- @partners.each do |partner| %>
        <tr>
          <td>
            <%= link_to partner.osra_num, hq_partner_path(partner) %>
          </td>
          <td>
            <%= link_to partner.name, hq_partner_path(partner) %>
          </td>
          <td>
            <%= partner.status.name %>
          </td>
          <td>
            <%= format_full_date partner.start_date %>
          </td>
          <td>
            <%= partner.province.name %>
          </td>
        </tr>
      <%- end %>
    </tbody>
  </table>
  <div class="pagination">
    <%= will_paginate @partners, renderer: BootstrapPagination::Rails %>
    <%# page_entries_info(@partners, :entry_name => 'partner').html_safe %>
    <%# page_entries_info(@partners, :entry_name => 'Partner').html_safe %>
    <%# page_entries_info(@partners).html_safe %>
    <%= page_entries_info @partners %>
  </div>
<%- end %>
