<div class="action_items">
  <div class="instance">
    <%= link_to('Edit Partner', edit_hq_partner_path(@partner.id),
                class: 'btn btn-default', role: 'button') %>
    <%= link_to('Upload Orphan List', upload_hq_partner_pending_orphan_lists_path(@partner.id),
                class: 'btn btn-primary', role: 'button') %>
    <%- unless @partner.orphan_lists.empty? -%>
      <%= link_to('Orphan lists', hq_partner_orphan_lists_path(@partner),
                class: 'btn btn-default', role: 'button') %>
    <%- end -%>
  </div>
</div>
<dl class="dl-horizontal">
  <dt>Partner Name</dt>
  <dd><%= @partner.name %></dd>
</dl>
<dl class="dl-horizontal">
  <dt>OSRA Num</dt>
  <dd><%= @partner.osra_num %></dd>
</dl>
<dl class="dl-horizontal">
  <dt>Status</dt>
  <dd><%= @partner.status.name %></dd>
</dl>
<dl class="dl-horizontal">
  <dt>Start Date</dt>
  <dd><%= format_full_date @partner.start_date %></dd>
</dl>
<dl class="dl-horizontal">
  <dt>Province</dt>
  <dd><%= @partner.province.name %></dd>
</dl>
<dl class="dl-horizontal">
  <dt>Region</dt>
  <dd><%= @partner.region %></dd>
</dl>
<dl class="dl-horizontal">
  <dt>Contact Details</dt>
  <dd><%= @partner.contact_details %></dd>
</dl>
<dl class="dl-horizontal">
  <dt>Created at</dt>
  <dd><%= format_full_date @partner.created_at %></dd>
</dl>
<dl class="dl-horizontal">
  <dt>Updated at</dt>
  <dd><%= format_full_date @partner.updated_at %></dd>
</dl>
