<!DOCTYPE html>
            <div style="display:none">
              <input name="utf8" type="hidden" value="&#x2713;" />
            </div>
            <fieldset class="inputs">
              <ol>
                <%- if @edit %>
                  <li class="string input optional stringish" id="partner_osra_num_input">
                    <label class="label" for="partner_osra_num">Osra num</label>
                    <input id="partner_osra_num" maxlength="255" name="partner[osra_num]" readonly="readonly" type="text" value="<%= @partner.osra_num %>" />
                  </li>
                <%- end %>
                <li class="string input required stringish" id="partner_name_input">
                  <label class="label" for="partner_name">Name<abbr title="required">*</abbr></label>
                  <input id="partner_name" maxlength="255" name="partner[name]" type="text" value="<%= @partner.name %>" />
                </li>
                <li class="select input optional" id="partner_status_input">
                  <label class="label" for="partner_status_id">Status</label>
                  <select id="partner_status_id" name="partner[status_id]">
                    <option value=""></option>
                    <%- @form_statuses.each do |hash| %>
                      <option <%= 'selected="selected" '.html_safe if hash[:selected]== true %>value="<%= hash[:id] %>"><%= hash[:name] %></option>
                    <%- end %>
                  </select>
                </li>
                <li class="datepicker input optional stringish" id="partner_start_date_input">
                  <label class="label" for="partner_start_date">Start date</label>
                  <input class="datepicker" data-datepicker-options="{}" id="partner_start_date" name="partner[start_date]" type="text" value="<%= @partner.start_date %>" />
                </li>
                <li class="select input required" id="partner_province_input">
                  <label class="label" for="partner_province_id">Province<abbr title="required">*</abbr></label>
                  <select <%= 'disabled="disabled"'.html_safe if @edit %> id="partner_province_id" name="partner[province_id]">
                    <option value=""></option>
                    <%- @form_provinces.each do |hash| %>
                      <option <%= 'selected="selected" '.html_safe if hash[:selected]== true %>value="<%= hash[:id].to_s %>"><%= hash[:name] %></option>
                    <%- end %>
                  </select>
                </li>
                <li class="string input optional stringish" id="partner_region_input">
                  <label class="label" for="partner_region">Region</label>
                  <input id="partner_region" maxlength="255" name="partner[region]" type="text" value="<%= @partner.region %>" />
                </li>
                <li class="string input optional stringish" id="partner_contact_details_input">
                  <label class="label" for="partner_contact_details">Contact details</label>
                  <input id="partner_contact_details" maxlength="255" name="partner[contact_details]" type="text" value="<%= @partner.contact_details %>" />
                </li>
              </ol>
            </fieldset>
