<!DOCTYPE html>
    <div id="wrapper">
      <div id="active_admin_content" class="with_sidebar">
        <div id="main_content_wrapper">
          <div id="main_content">
            <%- if @partner.empty? %>
              <div class="blank_slate_container">
                <span class="blank_slate">No Partners found</span>
              </div>
            <%- else %>
              <div class="paginated_collection">
                <div class="paginated_collection_contents">
                  <div class="index_content">
                    <div class="index_as_table">
                      <table border="0" cellspacing="0" cellpadding="0" id="<%= "index_table_#{@model.name.downcase}" %>" class="index_table index" paginator="true">
                        <thead>
                          <tr>
                            <th class="sortable col col-osra_num"><a href="<%= admin_partners_path(@request_params.except(:order).to_h.merge(order: "osra_num_#{@new_direction}")) %>">Osra Num</a></th>
                            <th class="sortable col col-name"><a href="<%= admin_partners_path(@request_params.except(:order).to_h.merge(order: "name_#{@new_direction}")) %>">Name</a></th>
                            <th class="sortable col col-status"><a href="<%= admin_partners_path(@request_params.except(:order).to_h.merge(order: "status_id_#{@new_direction}")) %>">Status</a></th>
                            <th class="sortable col col-start_date"><a href="<%= admin_partners_path(@request_params.except(:order).to_h.merge(order: "start_date_#{@new_direction}")) %>">Start Date</a></th>
                            <th class="sortable col col-province"><a href="<%= admin_partners_path(@request_params.except(:order).to_h.merge(order: "province_id_#{@new_direction}")) %>">Province</a></th>
                          </tr>
                        </thead>
                        <tbody>
                          <%- @partners.each_with_index do |partner, index| %>
                            <tr class="<%= index.next.parity %>" id="partner_<%= partner.id.to_s %>">
                              <td class="col col-osra_num"><a href="<%= admin_partner_path(partner) %>"><%= partner.osra_num %></a></td>
                              <td class="col col-name"><a href="<%= admin_partner_path(partner) %>"><%= partner.name %></a></td>
                              <td class="col col-status"><%= partner.status.name %></td>
                              <td class="col col-start_date"><%= partner.start_date.strftime('%B %d, %Y') %></td>
                              <td class="col col-province"><%= partner.province.name %></td>
                            </tr>
                          <%- end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div id="index_footer">
                  <div class="pagination_information">Displaying <b>all <%= @partners.count %></b> <%= 'Partner'.pluralize(@partners.count) %></div>
                </div>
              </div>
            <%- end %>
          </div>
        </div>
        <div id="sidebar">
          <div class="sidebar_section panel" id="filters_sidebar_section">
            <h3>Filters</h3>
            <div class="panel_contents">
              <form accept-charset="UTF-8" action="/admin/partners" class="filter_form" id="new_q" method="get">
                <div style="display:none">
                  <input name="utf8" type="hidden" value="&#x2713;" />
                </div>
                <div class="filter_form_field filter_select">
                  <label class="label" for="q_province_id">Province</label>
                  <select id="q_province_id" name="q[province_id_eq]">
                    <option value="">Any</option>
                    <option value="1">Damascus &amp; Rif Dimashq</option>
                    <option value="2">Aleppo</option>
                    <option value="3">Homs</option>
                    <option value="4">Hama</option>
                    <option value="5">Latakia</option>
                    <option value="6">Deir Al-Zor</option>
                    <option value="7">Daraa</option>
                    <option value="8">Idlib</option>
                    <option value="9">Ar Raqqah</option>
                    <option value="10">Al Ḥasakah</option>
                    <option value="11">Tartous</option>
                    <option value="12">Al-Suwayada</option>
                    <option value="13">Al-Quneitera</option>
                    <option value="14">Outside Syria</option>
                  </select>
                </div>
                <div class="filter_form_field filter_select">
                  <label class="label" for="q_status_id">Status</label>
                  <select id="q_status_id" name="q[status_id_eq]">
                    <option value="">Any</option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                    <option value="3">On Hold</option>
                  </select>
                </div>
                <div class="filter_form_field filter_select">
                  <label class="label" for="q_orphan_list_ids">Orphan lists</label>
                  <select id="q_orphan_list_ids" name="q[orphan_lists_id_eq]">
                    <option value="">Any</option>
                  </select>
                </div>
                <div class="filter_form_field filter_select">
                  <label class="label" for="q_orphan_ids">Orphans</label>
                  <select id="q_orphan_ids" name="q[orphans_id_eq]">
                    <option value="">Any</option>
                  </select>
                </div>
                <div class="filter_form_field filter_string select_and_search">
                  <label class="label" for="q_name">Name</label>
                  <select id="" name="">
                    <option selected="selected" value="name_contains">Contains</option>
                    <option value="name_equals">Equals</option>
                    <option value="name_starts_with">Starts with</option>
                    <option value="name_ends_with">Ends with</option>
                  </select>
                  <input id="q_name" maxlength="255" name="q[name_contains]" type="text" />
                </div>
                <div class="filter_form_field filter_string select_and_search">
                  <label class="label" for="q_region">Region</label>
                  <select id="" name="">
                    <option selected="selected" value="region_contains">Contains</option>
                    <option value="region_equals">Equals</option>
                    <option value="region_starts_with">Starts with</option>
                    <option value="region_ends_with">Ends with</option>
                  </select>
                  <input id="q_region" maxlength="255" name="q[region_contains]" type="text" />
                </div>
                <div class="filter_form_field filter_date_range">
                  <label class="label">Created at</label>
                  <input class="datepicker" id="q_created_at_gteq" max="10" name="q[created_at_gteq]" size="12" type="text" value="" />
                  <span class="seperator">-</span>
                  <input class="datepicker" id="q_created_at_lteq" max="10" name="q[created_at_lteq]" size="12" type="text" value="" />
                </div>
                <div class="filter_form_field filter_date_range">
                  <label class="label">Updated at</label>
                  <input class="datepicker" id="q_updated_at_gteq" max="10" name="q[updated_at_gteq]" size="12" type="text" value="" />
                  <span class="seperator">-</span>
                  <input class="datepicker" id="q_updated_at_lteq" max="10" name="q[updated_at_lteq]" size="12" type="text" value="" />
                </div>
                <div class="filter_form_field filter_string select_and_search">
                  <label class="label" for="q_contact_details">Contact details</label>
                  <select id="" name="">
                    <option selected="selected" value="contact_details_contains">Contains</option>
                    <option value="contact_details_equals">Equals</option>
                    <option value="contact_details_starts_with">Starts with</option>
                    <option value="contact_details_ends_with">Ends with</option>
                  </select>
                  <input id="q_contact_details" maxlength="255" name="q[contact_details_contains]" type="text" />
                </div>
                <div class="filter_form_field filter_date_range">
                  <label class="label">Start date</label>
                  <input class="datepicker" id="q_start_date_gteq" max="10" name="q[start_date_gteq]" size="12" type="text" value="" />
                  <span class="seperator">-</span>
                  <input class="datepicker" id="q_start_date_lteq" max="10" name="q[start_date_lteq]" size="12" type="text" value="" />
                </div>
                <div class="filter_form_field filter_string select_and_search">
                  <label class="label" for="q_osra_num">Osra num</label>
                  <select id="" name="">
                    <option selected="selected" value="osra_num_contains">Contains</option>
                    <option value="osra_num_equals">Equals</option>
                    <option value="osra_num_starts_with">Starts with</option>
                    <option value="osra_num_ends_with">Ends with</option>
                  </select>
                  <input id="q_osra_num" maxlength="255" name="q[osra_num_contains]" type="text" />
                </div>
                <div class="buttons">
                  <input name="commit" type="submit" value="Filter" />
                  <a class="clear_filters_btn" href="#">Clear Filters</a>
                  <input id="hidden_active_admin_order" name="order" type="hidden" value="<%= @request_params[:order] %>" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
