<!DOCTYPE html>
    <%- if @partners.empty? %>
      No Partners found
    <%- else %>
      <table>
        <thead>
          <tr>
            <th>
              Osra Num
            </th>
            <th>
              Name
            </th>
            <th>
              Status
            </th>
            <th>
              Start Date
            </th>
            <th>
              Province
            </th>
          </tr>
        </thead>
        <tbody>
          <%- @partners.each do |partner| %>
            <tr>
              <td>
                <a href="<%= admin_partner_path(partner) %>"><%= partner.osra_num %></a>
              </td>
              <td>
                <a href="<%= admin_partner_path(partner) %>"><%= partner.name %></a>
              </td>
              <td>
                <%= partner.status.name %>
              </td>
              <td>
                <%= partner.start_date.strftime('%B %d, %Y') %>
              </td>
              <td>
                <%= partner.province.name %>
              </td>
            </tr>
          <%- end %>
        </tbody>
      </table>
        Displaying <b>all <%= @partners.count %></b> <%= 'Partner'.pluralize(@partners.count) %>
    <%- end %>
