<%=render partial: "layouts/content_title.erb",
          locals: {title: "Show Partner: #{@partner.name}, OSRA Number: #{@partner.osra_num}"} %>


<div class="main-content-header">
  <%= link_to('Edit Partner', edit_partner_path(@partner.id),
              class: 'btn btn-default', role: 'button') %>
  <%= link_to('Upload Orphan List', upload_partner_pending_orphan_lists_path(@partner.id),
              class: 'btn btn-primary', role: 'button') %>
    <%= link_to('Orphan lists', partner_orphan_lists_path(@partner), disabled: @partner.orphan_lists.empty?,
              class: 'btn btn-default', role: 'button') %>
</div>


<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      Partner Details
    </h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Partner Name</dt>
      <dd><%= @partner.name %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>OSRA Num</dt>
      <dd><%= @partner.osra_num %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Status</dt>
      <dd><%= @partner.status.name %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Start Date</dt>
      <dd><%= format_full_date @partner.start_date %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Province</dt>
      <dd><%= @partner.province.name %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Region</dt>
      <dd><%= @partner.region %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Contact Details</dt>
      <dd><%= @partner.contact_details %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Created at</dt>
      <dd><%= format_full_date @partner.created_at %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Updated at</dt>
      <dd><%= format_full_date @partner.updated_at %></dd>
    </dl>
  </div>
</div>
