= form_for [:hq, @sponsor] do |f|
  = render 'shared/errors', object: f.object

  .form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .form-group
    = f.label :status_id
    = f.collection_select :status_id, @statuses, :id, :name, {},
          class: "form-control"
  .form-group
    = f.label :gender
    = f.select :gender, Settings.lookup.gender, {}, class: "form-control"
  .form-group
    = f.label :start_date
    = f.text_field :start_date, class: "form-control date-picker"
  .form-group
    = f.label :requested_orphan_count
    = f.text_field :requested_orphan_count, class: "form-control"


  - if f.object.new_record?
    .form-group
      = f.label :sponsor_type
      = f.collection_select :sponsor_type_id, @sponsor_types, :id, :name,
            {}, class: "form-control"
    .form-group
      = f.label :organization
      = f.collection_select :organization_id, @organizations, :id, :name,
            {include_blank: true}, class: "form-control"
    .form-group
      = f.label :branch
      = f.collection_select :branch_id, @branches, :id, :name,
            {include_blank: true}, class: "form-control"
  - else
    .form-group
      - f.object.request_fulfilled = true
      = f.label :request_fulfilled
      = f.check_box :request_fulfilled,
          {disabled: true, checked: f.object.request_fulfilled, class: "checkbox"}

    .form-group
      = f.label :sponsor_type
      = f.collection_select :sponsor_type_id, @sponsor_types, :id, :name,
            {}, {class: "form-control", disabled: true}
    .form-group
      = f.label :organization
      = f.collection_select :organization_id, @organizations, :id, :name,
            {include_blank: true},  {class: "form-control", disabled: true}
    .form-group
      = f.label :branch
      = f.collection_select :branch_id, @branches, :id, :name,
            {include_blank: true},  {class: "form-control", disabled: true}


  .form-group
    = f.label :payment_plan
    = f.select :payment_plan, Sponsor::PAYMENT_PLANS,
          {include_blank: true}, class: "form-control"

  .form-group
    = f.label :country
    = country_select("sponsor", "country",
                     { format: :en_ar,
                       priority_countries: Sponsor::PRIORITY_COUNTRIES,
                       except: Sponsor::EXCLUDED_COUNTRYS },
                     { class: "form-control" })

  .form-group
    = f.label :city
    = f.select :city, @cities, {}, class: "form-control"

  .form-group
    = f.label :new_city_name
    = f.text_field :new_city_name, class: "form-control"

  .form-group
    = f.label :address
    = f.text_field :address, class: "form-control"

  .form-group
    = f.label :email
    = f.text_field :email, {class: "form-control", type: "email"}

  .form-group
    = f.label :contact1
    = f.text_field :contact1, class: "form-control"

  .form-group
    = f.label :contact2
    = f.text_field :contact2, class: "form-control"

  .form-group
    = f.label :additional_info
    = f.text_field :additional_info, class: "form-control"

  .form-group
    = f.label :agent
    = f.select :agent_id, User.pluck(:user_name, :id),
          {include_blank: true}, class: "form-control"

  .form-group
    = f.submit class: 'btn btn-primary'
    = link_to 'Cancel',
                f.object.new_record? ? hq_sponsors_path : hq_sponsor_path(f.object.id),
                class: 'btn btn-default btn-cancel', role: 'button'
