- if sponsorships.empty?
  .panel.panel-default
    .panel-body
      No previously sponsored orphans
- else
  .table-responsive
    %table.table
      .table_title
        = "#{sponsorships.count} previously sponsored #{'orphan'.pluralize(sponsorships.count)}"
      %thead
        %tr
          %th
            Orphan name
          %th
            Orphan date of birth
          %th
            Orphan gender
          %th
            Sponsorship Began
          %th
            Sponsorship Ended
      %tbody
        - sponsorships.each do |sponsorship|
          %tr
            %td
              = link_to sponsorship.orphan.name, hq_orphan_path(sponsorship.orphan)
            %td
              = sponsorship.orphan.date_of_birth
            %td
              = sponsorship.orphan.gender
            %td
              = sponsorship.start_date
            %td
              = sponsorship.end_date
