- sort_by ||= {}
- sortable_by_column ||= false

.row
  = render(partial: '/sponsors/filters.html.haml',
           locals: {filters: filters}) if defined?(filters)

  - if sponsors.empty?
    .center
      No Sponsors found
  - else
    .table-responsive
      %table.table.table-hover{name: 'sponsors'}
        %thead
          %tr
            %th
              = sortable_link("osra_num", { sort_direction: @current_sort_direction, sort_column_is_active: (@current_sort_column == :osra_num) })
            %th
              = sortable_link("name", { sort_direction: @current_sort_direction, sort_column_is_active: (@current_sort_column == :name) })
            %th
              Status
            %th
              = sortable_link("start_date", { sort_direction: @current_sort_direction, sort_column_is_active: (@current_sort_column == :start_date) })
            %th
              = sortable_link("request_fulfilled", { sort_direction: @current_sort_direction, sort_column_is_active: (@current_sort_column == :request_fulfilled) })
            %th
              Sponsor Type
            %th
              = sortable_link("country", { sort_direction: @current_sort_direction, sort_column_is_active: (@current_sort_column == :country) })
        %tbody
          - sponsors.each do |sponsor|
            %tr
              %td
                = link_to sponsor.osra_num, sponsor_path(sponsor)
              %td
                = link_to sponsor.name, sponsor_path(sponsor)
              %td
                = sponsor.status.name
              %td
                = format_full_date sponsor.start_date
              %td
                = sponsor.request_fulfilled ? 'Yes' : 'No'
                (#{sponsor.active_sponsorship_count}/#{sponsor.requested_orphan_count})
              %td
                = sponsor.sponsor_type.name
              %td
                = en_ar_country(sponsor.country)
      .pagination
        = will_paginate sponsors, will_paginate_render_options
