=render partial: "layouts/content_title.erb", locals: {title: "Show Sponsor: #{@sponsor.name}, OSRA Number: #{@sponsor.osra_num}"}

%div.main-content-header
  = link_to 'Edit Sponsor', edit_sponsor_path(@sponsor.id), class: 'btn btn-default', role: 'button'
  = link_to 'New Sponsor', new_sponsor_path, class: 'btn btn-default', role: 'button'
  - if @sponsor.eligible_for_sponsorship?
    = link_to 'Link to Orphan', new_sponsorship_path(@sponsor.id, scope: :eligible_for_sponsorship),
      class: 'btn btn-default', role: 'button'
  - else
    = link_to 'Link to Orphan', new_sponsorship_path(@sponsor.id, scope: :eligible_for_sponsorship),
      class: 'btn btn-default', role: 'button', disabled: true


%br
.panel.panel-default
  .panel-heading
    %h3.panel-title
      Sponsor Details
  .panel-body
    %dl.dl-horizontal
      %dt Sponsor Name
      %dd
        = @sponsor.name
    %dl.dl-horizontal
      %dt OSRA Num
      %dd
        = @sponsor.osra_num
    %dl.dl-horizontal
      %dt Status
      %dd
        = @sponsor.status.name
    %dl.dl-horizontal
      %dt Gender
      %dd
        = @sponsor.gender
    %dl.dl-horizontal
      %dt Start date
      %dd
        = format_full_date @sponsor.start_date
    %dl.dl-horizontal
      %dt Requested orphan count
      %dd
        = @sponsor.requested_orphan_count
    %dl.dl-horizontal
      %dt Request fulfilled
      %dd
        = @sponsor.request_fulfilled ? 'Yes' : 'No'
    %dl.dl-horizontal
      %dt Payment plan
      %dd
        = @sponsor.payment_plan
    %dl.dl-horizontal
      %dt Sponsor type
      %dd
        = @sponsor.sponsor_type.name
    %dl.dl-horizontal
      %dt Affiliate
      %dd
        = @sponsor.affiliate
    %dl.dl-horizontal
      %dt Country
      %dd
        = en_ar_country @sponsor.country
    %dl.dl-horizontal
      %dt City
      %dd
        = @sponsor.city
    %dl.dl-horizontal
      %dt Address
      %dd
        = @sponsor.address
    %dl.dl-horizontal
      %dt Email
      %dd
        = @sponsor.email
    %dl.dl-horizontal
      %dt Contact 1
      %dd
        = @sponsor.contact1
    %dl.dl-horizontal
      %dt Contact 2
      %dd
        = @sponsor.contact2
    %dl.dl-horizontal
      %dt Additional info
      %dd
        = @sponsor.additional_info
    %dl.dl-horizontal
      %dt Agent
      %dd
        = @sponsor.agent.user_name if @sponsor.agent
    %dl.dl-horizontal
      %dt Created at
      %dd
        = format_full_date @sponsor.created_at
    %dl.dl-horizontal
      %dt Updated at
      %dd
        = format_full_date @sponsor.updated_at

= render partial: 'sponsors/sponsorships_active.html.haml',
         locals: {sponsorships: @sponsorships_active}

= render partial: 'sponsors/sponsorships_inactive.html.haml',
         locals: {sponsorships: @sponsorships_inactive}
