<%= form_for [:hq, @user] do |f| %>
  <%= render 'shared/errors', object: f.object %>
  <div class="form-group">
    <%= f.label :user_name %>
    <%= f.text_field :user_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', cancel_path, class: "btn btn-cancel" %>
  </div>
<% end %>
