<dl class="dl-horizontal">
  <dt>User Name</dt>
  <dd><%= @user.user_name %></dd>
</dl>
<dl class="dl-horizontal">
  <dt>Email Address</dt>
  <dd><%= @user.email %></dd>
</dl>
<div class="active_sponsors">
  <%= pluralize(@user.active_sponsors.count.to_s, 'Active Sponsor') %>
  <% if @user.sponsors.count > 0 %>
    <div class="active_sponsors_index">
      <%= render partial: 'hq/sponsors/sponsors.html.haml',
            locals: {sponsors: @user.active_sponsors.paginate(:page => params[:page])} %>
    </div>
  <% end %>
</div>
<div class="inactive_sponsors">
  <%= pluralize(@user.inactive_sponsors.count.to_s, 'Inactive Sponsor') %>
  <% if @user.sponsors.count > 0 %>
    <div class="inactive_sponsors_index">
      <%= render partial: 'hq/sponsors/sponsors.html.haml',
            locals: {sponsors: @user.inactive_sponsors.paginate(:page => params[:page])} %>
    </div>
  <% end %>
</div>
