<%= form_for [:hq, @orphan] do |f| %>
  <%= render 'shared/errors', object: f.object %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Orphan Details</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :date_of_birth %>
        <%= f.text_field :date_of_birth, class: "form-control date-picker", value: @orphan.date_of_birth %>
      </div>
      <div class="form-group">
        <%= f.label :gender %>
        <%= f.select :gender,
          Settings.lookup.gender, {}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :health_status %>
        <%= f.text_field :health_status, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :schooling_status %>
        <%= f.text_field :schooling_status, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :orphan_status_id %>
        <%= f.collection_select :orphan_status_id,
          @orphan_statuses, :id, :name, {}, 
          {class: "form-control"} %>
      </div>
      <div class="form-group">
        <%= f.label :orphan_sponsorship_status_id %>
        <%= f.collection_select :orphan_sponsorship_status_id,
          @orphan_sponsorship_statuses, :id, :name, {}, 
          {class: "form-control", disabled: !f.object.new_record?} %>
      </div>
      <div class="form-group">
        <%= f.label :priority %>
        <%= f.select :priority, 
          %w(Normal High), {}, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Parents' Details</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :father_given_name %>
        <%= f.text_field :father_given_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :family_name %>
        <%= f.text_field :family_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :father_alive %>
        <%= f.check_box :father_alive %> 
      </div>
      <div class="form-group">
        <%= f.label :mother_name %>
        <%= f.text_field :mother_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :mother_alive %>
        <%= f.check_box :mother_alive %>
      </div>
      <div class="form-group">
        <%= f.label :father_is_martyr %>
        <%= f.check_box :father_is_martyr %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Original Address</h3>
    </div>
      <%= f.fields_for :original_address do |b| %>
        <div class="panel-body">
          <div class="form-group">
            <%= b.label :city %>
            <%= b.text_field :city, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= b.label :province %>
            <%= b.collection_select :province_id,
              @provinces, :id, :name, {},  {class: "form-control"} %>
          </div>
          <div class="form-group">
            <%= b.label :neighborhood %>
            <%= b.text_field :neighborhood, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= b.label :street %>
            <%= b.text_field :street, class: "form-control" %>
          </div>
        </div>
      <% end %>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Current Address</h3>
    </div>
      <%= f.fields_for :current_address do |b| %>
        <div class="panel-body">
          <div class="form-group">
            <%= b.label :city %>
            <%= b.text_field :city, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= b.label :province %>
            <%= b.collection_select :province_id,
              @provinces, :id, :name, {},  {class: "form-control"} %>
          </div>
          <div class="form-group">
            <%= b.label :neighborhood %>
            <%= b.text_field :neighborhood, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= b.label :street %>
            <%= b.text_field :street, class: "form-control" %>
          </div>
        </div>
      <% end %>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Additional Details</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :sponsored_by_another_org %>
        <%= f.check_box :sponsored_by_another_org %>
      </div>
      <div class="form-group">
        <%= f.label :minor_siblings_count %>
        <%= f.text_field :minor_siblings_count, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :sponsored_minor_siblings_count %>
        <%= f.text_field :sponsored_minor_siblings_count, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to('Cancel', 
                hq_orphan_path(@orphan),
                class: 'btn btn-default btn-cancel', role: 'button') %>
  </div>
<% end %>

