<%- if @orphans.empty? %>
  <div class="panel-body">
    <em>No Orphans found</em>
  </div>
<%- else %>
  <div class='panel-body table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th>
            <%= sortable_column 'osra_num' %>
          </th>
          <th>
            <%= sortable_column 'name' %>
          </th>
          <th>
            <%= sortable_column 'father_given_name', "Father Name" %>
          </th>
          <th>
            <%= sortable_column 'date_of_birth' %>
          </th>
          <th>
            <%= sortable_column 'gender' %>
          </th>
          <th>
            Province name
          </th>
          <th>
            Partner
          </th>
          <th>
            <%= sortable_column 'father_is_martyr' %>
          </th>
          <th>
            <%= sortable_column 'father_deceased' %>
          </th>
          <th>
            <%= sortable_column 'mother_alive' %>
          </th>
          <th>
            <%= sortable_column 'priority' %>
          </th>
          <th>
            <%= sortable_column 'status', 'Orphan Status' %>
          </th>
          <th>
            <%= sortable_column 'sponsorship_status', 'Sponsorship' %> 
          </th>
        </tr>
      </thead>
      <tbody>
        <%- @orphans.each do |orphan| %>
          <tr>
            <td>
              <%= link_to orphan.osra_num, hq_orphan_path(orphan) %>
            </td>
            <td>
              <%= link_to orphan.name, hq_orphan_path(orphan) %>
            </td>
            <td>
              <%= orphan.father_given_name %>
            </td>
            <td>
              <%= orphan.date_of_birth %>
            </td>
            <td>
              <%= orphan.gender %>
            </td>
            <td>
              <%= orphan.original_address.province.name %>
            </td>
            <td>
              <%= orphan.orphan_list.partner.name %>
            </td>
            <td>
              <%= orphan.father_is_martyr ? 'Yes' : 'No' %>
            </td>
            <td>
              <%= orphan.father_deceased ? 'Yes' : 'No' %>
            </td>
            <td>
              <%= orphan.mother_alive ? 'Yes' : 'No' %>
            </td>
            <td>
              <%= orphan.priority %>
            </td>
            <td>
              <%= orphan.status.humanize %>
            </td>
            <td>
              <%= orphan.sponsorship_status.humanize %>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
  <div class="pagination">
    <%= will_paginate @orphans, renderer: BootstrapPagination::Rails %>
  </div>
<%- end %>
