.panel.panel-default
  .panel-heading 
    %h3.panel-title Orphan Details
  .panel-body
    %dl.dl-horizontal
      %dt OSRA Num
      %dd
        = @orphan.osra_num
    %dl.dl-horizontal
      %dt Orphan Name
      %dd
        = @orphan.name
    %dl.dl-horizontal
      %dt Date of Birth
      %dd
        = format_full_date @orphan.date_of_birth
    %dl.dl-horizontal
      %dt Gender
      %dd
        = @orphan.gender
    %dl.dl-horizontal
      %dt Contact Number
      %dd
        = @orphan.contact_number
    %dl.dl-horizontal
      %dt Orphan Status
      %dd
        = @orphan.orphan_status.name
    %dl.dl-horizontal
      %dt Sponsorship Status
      %dd
        = @orphan.orphan_sponsorship_status.name
    %dl.dl-horizontal
      %dt Priority
      %dd
        = @orphan.priority
.panel.panel-default
  .panel-heading 
    %h3.panel-title Parents' Details
  .panel-body
    %dl.dl-horizontal
      %dt Father's Given Name
      %dd
        = @orphan.father_given_name
    %dl.dl-horizontal
      %dt Family Name
      %dd
        = @orphan.family_name
    %dl.dl-horizontal
      %dt Father is Alive
      %dd
        = @orphan.father_alive ? 'Yes' : 'No'
    %dl.dl-horizontal
      %dt Mother Name
      %dd
        = @orphan.mother_name
    %dl.dl-horizontal
      %dt Mother is Alive
      %dd
        = @orphan.mother_alive ? 'Yes' : 'No'
    %dl.dl-horizontal
      %dt Father is Martyr
      %dd
        = @orphan.father_is_martyr ? 'Yes' : 'No'
    %dl.dl-horizontal
      %dt Father Date of Death
      %dd
        = format_full_date @orphan.father_date_of_death
.panel.panel-default
  .panel-heading 
    %h3.panel-title Original Address
  .panel-body
    %dl.dl-horizontal
      %dt Province Name
      %dd
        = @orphan.original_address.province.name
    %dl.dl-horizontal
      %dt City
      %dd
        = @orphan.original_address.city
    %dl.dl-horizontal
      %dt Neighborhood
      %dd
        = @orphan.original_address.neighborhood
    %dl.dl-horizontal
      %dt Street
      %dd
        = @orphan.original_address.street
.panel.panel-default
  .panel-heading 
    %h3.panel-title Current Address
  .panel-body
    %dl.dl-horizontal
      %dt Province Name
      %dd
        = @orphan.current_address.province.name
    %dl.dl-horizontal
      %dt City
      %dd
        = @orphan.current_address.city
    %dl.dl-horizontal
      %dt Neighborhood
      %dd
        = @orphan.current_address.neighborhood
    %dl.dl-horizontal
      %dt Street
      %dd
        = @orphan.current_address.street
.panel.panel-default
  .panel-heading 
    %h3.panel-title Additional Details
  .panel-body
    %dl.dl-horizontal
      %dt Spnsr Another Organization
      %dd
        = @orphan.sponsored_by_another_org ? 'Yes' : 'No'
    %dl.dl-horizontal
      %dt Minor Siblings Count
      %dd
        = @orphan.minor_siblings_count
    %dl.dl-horizontal
      %dt Spnsr Minor Siblings Count
      %dd
        = @orphan.sponsored_minor_siblings_count

