<%= render partial: "layouts/content_title.erb",
        locals: {title: "Orphan Lists for partner: #{@partner.name}, OSRA Number: #{@partner.osra_num}"} %>

<div class="main-content-header">
  <%= link_to('Back to Partner', partner_path(@partner),
              class: 'btn btn-default', role: 'button') %>
</div>

<%- if @orphan_lists.empty? %>
  <div class="panel-body">
    <em>No Orphan Lists found</em>
  </div>
<%- else %>
  <div class='table-responsive'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th> Osra Num </th>
          <th> Spreadsheet File Name </th>
          <th> Partner </th>
          <th> Import Date </th>
          <th> Orphan Count </th>
      </thead>
      <tbody>
        <%- @orphan_lists.each do |orphan_list| %>
          <tr>
            <td>
              <%= orphan_list.osra_num %>
            </td>
            <td>
              <%= orphan_list.spreadsheet_file_name %>
            </td>
            <td>
              <%= link_to orphan_list.partner.name, partner_path(orphan_list.partner) %>
            </td>
            <td>
              <%= orphan_list.created_at.to_date %>
            </td>
            <td>
              <%= orphan_list.orphan_count %>
            </td>
            <td>
              <%= link_to "Download", orphan_list.spreadsheet.url %>
            </td>
          </tr>
        <%- end %>
      </tbody>
    </table>
  </div>
<%- end %>
