<%= form_for orphan, :builder => OsraFormBuilder,
             html: {class: "records_form", role: "form"} do |f| %>
  <%= render 'shared/errors', object: f.object %>
  <fieldset>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Orphan Details</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label_for_field :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :date_of_birth %>
          <%= f.text_field :date_of_birth, class: "form-control date-picker", value: orphan.date_of_birth %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :gender %>
          <%= f.select :gender,
            Settings.lookup.gender, {}, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :health_status %>
          <%= f.text_field :health_status, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :schooling_status %>
          <%= f.text_field :schooling_status, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :goes_to_school %>
          <%= f.check_box :goes_to_school %>
        </div>
        <div class='form-group'>
          <%= f.label_for_field :status %>
          <%= f.select :status, statuses, {}, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :sponsorship_status %>
          <%= f.select :sponsorship_status, sponsorship_statuses, {},
            class: 'form-control', disabled: true %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :priority %>
          <%= f.select :priority,
            %w(Normal High), {}, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :created_at, 'Record imported on' %>
          <%= f.text_field :created_at, class: "form-control date-picker", value: orphan.created_at, disabled: "true" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :updated_at, 'Record last updated on' %>
          <%= f.text_field :updated_at, class: "form-control date-picker", value: orphan.updated_at, disabled: "true" %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Parents' Details</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label_for_field :father_given_name %>
          <%= f.text_field :father_given_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :family_name %>
          <%= f.text_field :family_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :father_deceased %>
          <%= f.check_box :father_deceased %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :mother_name %>
          <%= f.text_field :mother_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :mother_alive %>
          <%= f.check_box :mother_alive %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :father_is_martyr %>
          <%= f.check_box :father_is_martyr %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :father_occupation %>
          <%= f.text_field :father_occupation, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :father_place_of_death %>
          <%= f.text_field :father_place_of_death, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :father_cause_of_death %>
          <%= f.text_field :father_cause_of_death, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :father_date_of_death %>
          <%= f.text_field :father_date_of_death, class: "form-control date-picker", value: orphan.father_date_of_death %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Guardian Details</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label_for_field :guardian_name %>
          <%= f.text_field :guardian_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :guardian_relationship %>
          <%= f.text_field :guardian_relationship, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :guardian_id_num %>
          <%= f.number_field :guardian_id_num, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :contact_number %>
          <%= f.text_field :contact_number, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :alt_contact_number %>
          <%= f.text_field :alt_contact_number, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Original Address</h3>
      </div>
        <%= f.fields_for :original_address do |b| %>
          <div class="panel-body">
            <div class="form-group">
              <%= b.label_for_field :city %>
              <%= b.text_field :city, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= b.label_for_field :province %>
              <%= b.collection_select :province_id,
                provinces, :id, :name, {},  {class: "form-control"} %>
            </div>
            <div class="form-group">
              <%= b.label_for_field :neighborhood %>
              <%= b.text_field :neighborhood, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= b.label_for_field :street %>
              <%= b.text_field :street, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= b.label_for_field :details%>
              <%= b.text_field :details, class: "form-control" %>
            </div>
          </div>
        <% end %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Current Address</h3>
      </div>
        <%= f.fields_for :current_address do |b| %>
          <div class="panel-body">
            <div class="form-group">
              <%= b.label_for_field :city %>
              <%= b.text_field :city, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= b.label_for_field :province %>
              <%= b.collection_select :province_id,
                provinces, :id, :name, {},  {class: "form-control"} %>
            </div>
            <div class="form-group">
              <%= b.label_for_field :neighborhood %>
              <%= b.text_field :neighborhood, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= b.label_for_field :street %>
              <%= b.text_field :street, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= b.label_for_field :details%>
              <%= b.text_field :details, class: "form-control" %>
            </div>
          </div>
        <% end %>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Additional Details</h3>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <%= f.label_for_field :sponsored_by_another_org %>
          <%= f.check_box :sponsored_by_another_org %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :minor_siblings_count %>
          <%= f.text_field :minor_siblings_count, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :sponsored_minor_siblings_count %>
          <%= f.text_field :sponsored_minor_siblings_count, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label_for_field :comments %>
          <%= f.text_field :comments, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to('Cancel',
                  orphan_path(f.object.id),
                  class: 'btn btn-default btn-cancel', role: 'button') %>
    </div>
  </fieldset>
<% end %>

