<h1> Edit Admin User </h1>

<%= form_for [:hq, @admin_user], :builder => OsraFormBuilder do |f| %>
  <%= render 'shared/errors', object: f.object %>
  <div class="form-group">
    <%= f.label_for_field :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password, "New password" %>
    <!-- Use f.label instead of f.label_for_field because label_for is monkey-patched to add the red "(required)" -->
    <!-- for mandatory fields in the database and within edit admin user it's not necessary to update the password -->
    <%= f.password_field :password, class: "form-control", placeholder: "***" %>
  </div>
  <div class="form-group">
    <%= f.label_for_field :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', hq_admin_users_path, class: "btn btn-cancel" %>
  </div>
<% end %>
