<!DOCTYPE html>
<html>
  <head>
    <title>OSRA</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1001">
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=1000" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=1000" sizes="16x16">
    <link rel="manifest" href="/manifest.json?v=1000">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=1000" color="#86bc4d">
    <link rel="shortcut icon" href="/favicon.ico?v=1000">
    <meta name="apple-mobile-web-app-title" content="OSRA">
    <meta name="application-name" content="OSRA">
    <meta name="theme-color" content="#86bc4d">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="row">
        <%= render 'layouts/navigation' unless devise_controller? %>
        <div class="content">
          <%= render 'layouts/flashes' %>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
